.cartblock{
width: 25%;
background-color: #eceff1;
position: absolute;
z-index: 1;
right: 0px;
top:-8px;
}
.cartnone{
    background-color: red;
    display: none;
}
.arrow{
    font-size: 20px;
    color:red ;
}
.arrowicon{
    margin-top: 8px;
    display: flex;
    background-color: #fff;
    justify-content:flex-start;
    column-gap: 30%;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.content{
    
}