.img{
    width:60%;
    margin-left: 5%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.p1{
    font-size: 40px;
    font-weight: 900;
}
.container{
    display: flex;
    justify-content:center;
    align-items:flex-start;
    margin-top: 80px;
}
.subcontainer{
 position: absolute;
 left: 20%;
 top: 15%;
}
.p2{
    position: absolute;
    top: 80px;
    width: 250px;
}