.slide {
	width: 100%;
}   
.maincomp {
	font-size: 13px;
}
.circleOne{
    position: absolute;
    z-index: 1;
    width:60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    left: 10px;
    top: 210px;
}
.leftLogo{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.circleTwo{
    position: absolute;
    z-index: 1;
    width:60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    right: 15px;
    top: 210px;
}
.rightLogo{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
